*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Hind', sans-serif;
    text
}

strong{
    font-size: 25px;
}

#palace{
    background-color: rgb(0, 0, 0);
    width: 100%;
    filter: brightness(50%);
}
#confe{
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 800px;
    height: 250px;
    width: 500px;

}
.orators{
    text-align: center; 
}

.orador {
    width: 250px;
}

.oradores{
    align-items: center;
    justify-content: center;
    display: flex
}
.caja{
    height: 500px;
    width: 250px;
    border: 1px solid rgb(236, 232, 232);
    margin: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#bsas{
    padding:20px

}


.honolulu{
    background-color: rgb(63, 62, 62);
    color: aliceblue;
    display: flex;
    font-size: 15px;
    text-align: left;
}
.playa{
    width: 50%;
    border-right: 4px solid;
}

.convertir{
    text-align: center;
}

#ignite{
    text-decoration-style: dotted;
}



#nombre{
    width: 333px;
}
#apellido{
    width: 333px;
}
#tema{
    width: 668px;
    height: 90px;
}
.codoacodo{
    width: 100px;
    
}
.charla{
    position: absolute;
    left: 342px;
    color: gray;
}