*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Hind', sans-serif;
    text
}

strong{
    font-size: 25px;
}
.conferencia {
    height: 25%px;
    opacity: 1;
}

#confe{
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 800px;
    height: 250px;
    width: 500px;

}
.orators{
    text-align: center; 
}

.orador {
    width: 250px;
}

.oradores{
    align-items: center;
    justify-content: center;
    display: flex
}
.caja{
    height: 500px;
    width: 250px;
    border: 2px solid rgb(98, 78, 78);
    margin: 20px;
    padding-bottom: 60px;
}

.honolulu{
    background-color: rgb(63, 62, 62);
    color: aliceblue;
    display: flex;
    font-size: 20px;
}
.playa{
    width: 50%;
    border-right: 4px solid;
}

.convertir{
    text-align: center;
}

.ignite{
    text-decoration: dotted;
}

#nombre{
    width: 200px;
}
#apellido{
    width: 200px;
}
#tema{
    width: 406px;
    height: 90px;
}
.codoacodo{
    width: 60px;
}
footer{
    color: aliceblue;
    display: block;
    height: 80px;
    background-color: rgb(60, 60, 107);
}


